* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(../images/paisley-600px.jpg);
}

.flexbod {
  flex: 1;
  background: rgba(256, 256, 256, 0.9);
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: 'Inknut Antiqua', serif;
  color: #279f27;
}

p,
li {
  font-family: 'Open Sans', sans-serif;
}

.name {
  margin: 0;
  text-align: center;
}

.menu {
  text-align: center;
}

/**/
/******MENU******/

/*HAMBURGER*/
/**/

.mob-menu {
  width: 30px;
  display: block;
  z-index: 1;
  cursor: pointer;
  margin: 0 auto;
}

.mob-menu .line {
  background: #279f27;
  width: 100%;
  display: block;
  margin-top: 3px;
  height: 4px;
  border-radius: 2px;
}

/**/

.nav {
  padding: 0;
  display: none;
  /*hidden for responsiveness*/
}

.nav li {
  margin-top: 0.5em;
  padding: 0.25em;
  list-style-type: none;
  text-align: center;
  display: block;
}

.button {
  padding: 0.35em 0.5em;
  border: 1px solid #279f27;
  background-color: white;
  color: #279f27;
  text-decoration: none;
  cursor: pointer;
}

/******END OF MENU******/
/**/

.content {
  margin: 40px auto 0;
}

.tile {
  margin: 1.5em auto;
  border: 2px solid black;
  border-top-right-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
  border-top-left-radius: 20px 20px;
  width: 80%;
  cursor: pointer;
  transition: all .4s ease;
}

.tile:hover {
  transform: scale(1.04);
}

.menu-image {
  width: 100%;
  border-top-right-radius: 20px 20px;
  /*border-bottom-right-radius: 20px 20px;*/
  border-top-left-radius: 20px 20px;
  margin-bottom: -0.18em;
}

.about {
  /*padding: 1em;*/
  margin: 0 auto;
  border-bottom-right-radius: 20px 20px;
  width: 100%;
  background: white;
  text-align: center;
}

.about p,
h2 {
  margin: 0;
}

.foot {
  border-top: 3px double #7c7c7c;
  font-family: 'Inknut Antiqua', serif;
  text-align: center;
  background: rgba(256, 256, 256, 0.9);
}

.foot p {
  margin: 0;
}

.links {
  width: ;
  margin: 0 auto;
}

.minilinks {
  margin: 0.5em 0.5em 0 0.5em;
  height: 32px;
  transition: background 0.5s;
}

.minilinks-round {
  border-radius: 100%;
}

.minilinks:hover {
  background: rgba(39, 159, 39, 0.8);
}

.boldness {
  font-weight: bold;
}

/***ABOUT PAGE***/

.bio {
  margin: 1.5em auto 0;
  width: 80%;
}

.profile {
  border: 2px solid black;
  border-radius: 0.4em;
  float: right;
  height: 300px;
}

.bio p{
  float: clear;
}

/***RESPONSIVE-NESS-ING-LY-ER****/

/***LARGE MOBILE DEVICE***/

@media screen and (min-width: 36em) {
  .mob-menu {
    display: block;
  }
  .nav {
    display: none;
  }
  .nav li {
    padding: 0;
    display: inline-block;
  }
}

/***DESKTOP***/

@media screen and (min-width: 49em) {
  .mob-menu {
    display: none;
  }
  .nav {
    display: block;
  }
  .tile {
    width: 60%;
  }
}

/***even BIGGER desktop***/

@media screen and (min-width: 60em) {
  .flexbod,
  .foot {
    margin: 0 auto;
    width: 90%;
  }
}
