* {
  box-sizing: border-box;
  /*font-size: 100%;*/
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #279f27;
}

.flexbod {
  flex: 1;
  background-color: white;
}

.name {
  /*padding: 5px;*/
  /*text-decoration: none;*/
  text-align: center;
  font-family: 'Inknut Antiqua', serif;
  color: #279f27;
}

.menu {
  text-align: center;
}

/***MENU***/

/*HAMBURGER*/
.mob-menu {
  width: 30px;
  display: block;
  z-index: 1;
  cursor: pointer;
  margin: 0 auto;
}

.mob-menu .line {
  background: #279f27;
  width: 100%;
  display: block;
  margin-top: 3px;
  height: 4px;
  border-radius: 2px;
}
/**/

.nav{
  padding: 0;
  display: none; /*hidden for responsiveness*/
}

.nav li{
  margin-top: 8px;
  padding: 4px;
  list-style-type: none;
  text-align: center;
  display: block;
}

.button {
  padding: 6px 8px;
  border: 1px solid #279f27;
  /*margin: 6px 0;*/
  background-color: white;
  color: #279f27;
  text-decoration: none;
  cursor: pointer;
}
/***END OF MENU***/

.about{
  width: 100%;
  height: 20em;
  background-color: palevioletred
}

.show{
  width: 100%;
  height: 20em;
  background-color: orange;
  /*background-image: url("img/flower.jpg");
  background-size: cover;*/
}

/*
.img-flower{
  width: 100%;
  background-size: cover;
  background-position: bottom center;
  overflow-x: hidden;
}
*/

.foot {
  font-family: 'Inknut Antiqua', serif;
  text-align: center;
  background-color: white;
}

/***LARGE MOBILE DEVICE***/
@media screen and (min-width : 28em) {
  .mob-menu{
    display: block;
  }

  .nav{
    display: none;
  }
  
  .nav li{
    padding: 0;
    display: inline-block;
  }
}

/***DESKTOP***/
@media screen and (min-width : 49em) {
  .flexbod{
  }
  
  .mob-menu{
    display: none;
  }

  .nav{
    display: block;
  }

  .about,
  .show{
    margin: 1px auto;
    float: left;
    width: 50%;
  }
}

@media screen and (min-width : 60em) {
  .flexbod,
  .foot{
    margin: 0 auto;
    width: 90%;
  }
}
