//color
$color-highlight: rgb(241, 228, 220);
$color-shadow: rgb(3, 3, 3);
$color-button: #dcf1dc;
$color-menu: #f1f1f1;

//font
$font-head: Dancing Script, cursive;
$font-main: Roboto, sans-serif;

//media query
$media-sml: 23em;
$media-med: 35em;
$media-large: 64em;

//breakpoint
@mixin bp-small {
    @media (min-width: $media-sml) {
        @content;
    }
}

@mixin bp-med {
    @media (min-width: $media-med) {
        @content;
    }
}

@mixin bp-large {
    @media (min-width: $media-large) {
        @content;
    }
}
