html {
  min-width: 382px;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
}

h1 {
  text-align: center;
}

#box {
  margin: 0 auto;
  width: 80%;
}

#list li {
  list-style-type: none;
}

.delbtn {
  margin-left: 3px;
  border-radius: 100%;
  color: white;
  background: /*#EF615C*/#D75752;
  border-bottom-color: #C14E49;
  border-right-color: #C14E49;
  border-left-color: #F0706C;
  border-top-color: #F0706C;
  font-size: 0.7em;
}