@import 'config/_var.scss';

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: $font-main;
  color: $color-shadow;
}

body {
  //background: linear-gradient(to bottom, $color-highlight, $color-shadow);
  background: $color-shadow;
}

a {
  text-decoration: none;
  color: $color-shadow;
}

/*
**menu
*/

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  //background: $color-highlight;
  //background: url(https://cdn.pixabay.com/photo/2016/10/04/17/12/banner-1714907_960_720.jpg);
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Marble_pattern_006.jpg/1280px-Marble_pattern_006.jpg);
  border-bottom: 2px; //solid darken($color-menu, 60%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;

  @include bp-small {
    flex-direction: column;
    align-items: center;
    
  }

  @include bp-med {
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: baseline;
    
  }

  .collapsed {
  display: none;

    @include bp-med {
      display: flex;
    }
  }

}

.title-name {
  margin: 0.8em;
  flex-grow: 1;
  font-family: $font-head;

  @include bp-med {
    flex-grow: 0;
  }
}

/***MOBILE MENU***/
.mob-menu {
  width: 22px;
  z-index: 1;
  padding: 2px 13px;
  border: 1px solid darken($color-button, 70%);
  border-radius: 5px;
  margin-bottom: 0.5em;
  cursor: pointer;
  //line-height: 20px;
  background-color: $color-button;

  transition: all 0.4s ease-out;

  &:hover {
    background: lighten($color-button, 10%);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }

  @include bp-med {
    display: none;
  }

  .line {
    margin: 0.2em 0;
    border-radius: 3px;
    width: 100%;
    height: 3px;
    background: $color-shadow;
    display: block;
  }
}
//

.menu {
  padding: 0;
  //margin: 0 0.5em 0.5em 0;
  //margin-bottom: 0.5em;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 1;
  align-items: stretch;

  @include bp-small {
    flex-direction: row;
  }

  @include bp-med {
    flex-grow: 1;
    margin: 0 0.5em 0.5em 0;
  }
}

.menu-items {
  padding: 0.25em 0.25em;
  border: 1px solid darken($color-button, 50%);
  border-radius: 3px;
  margin: 0.06em;
  width: 100%;
  flex-grow: 1;
  background: $color-button;
  /*width: 150px;
  height: 100px;*/
          transform: skew(-20deg);
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
       -o-transform: skew(-20deg);

  transition: all 0.4s ease-out;

  &:hover {
    background: lighten($color-button, 10%);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }

  @include bp-small {
    width: auto;
  }

    .unskew {
    display: inline-block;
            transform: skew(20deg);
    -webkit-transform: skew(20deg);
       -moz-transform: skew(20deg);
         -o-transform: skew(20deg);
  }
}

/*
**end menu
*/

.main {
  margin-top: 7em;
}

.front-poster {
  border-radius: 10px;
  margin: 0 auto;
  width: 100%;
  min-height: 420px;
  background: url(../../images/massage_1000.jpg);
  background-size: cover;
  overflow-x: hidden;
  background-position: bottom center;

  @include bp-small {
    background-position: bottom right;
  }

  @include bp-med {
    min-height: 500px;
  }

  @include bp-large {
    height: 639px;
    width: 100%;
    max-width: 1000px;
  }
}
